<div class="parent margin-clear col-sm-4 col-sm-offset-4 box">
  <div>
    <p>
      Merci infiniement! Nos équipes travaillent dur pour que nous soyons prêts le plus rapidement possible.
      Rendez-vous bientôt dans votre boite mail pour le top départ de Peanut! <br>
      Besos!
    </p>
  </div>
</div>
