<form class="form-horizontal form-pricing" action="/sim" data-remote="true" method="get" role="form">
  <div class="price-slider">
    <h4 class="great">Montant du prêt</h4>
    <span>minimum 50€</span>
    <div class="col-sm-10 col-sm-offset-1">
      <div id="slider"></div>
    </div>
  </div>
  <div class="price-slider">
    <h4 class="great">Durée du prêt</h4>
    <span>minimum 5 jours</span>
    <div class="col-sm-10 col-sm-offset-1">
      <div id="slider2"></div>
    </div>
  </div>

  <div class="price-form">
    <div class="form-group">
      <!--
      <label for="amount" class="col-sm-6 control-label">Montant : </label>
      -->
      <div class="col-sm-6">
        <input type="hidden" name="sim[amount]" id="amount" class="form-control">
       <!--
        <p class="price lead" id="amount-label"></p>
        <span class="price">€</span>
        -->
      </div>
    </div>
    <div class="form-group">
      <input type="hidden" name="sim[nb_days]" id="duration" class="form-control">
    </div>
    <div class="form-group">
      <label for="duration" class="col-sm-6 control-label">Intérêts : </label>
      <div class="col-sm-6">
        <input type="hidden" id="duration" class="form-control">
        <p class="price lead" id="interests"></p>
        <span class="price">€</span>
      </div>
    </div>

    <hr class="style">
    <div class="form-group total" style="margin-left: 0px">
      <label for="total" class="col-sm-6 control-label"><strong>Total : </strong></label>
      <div class="col-sm-6" style="margin-right: 0px;">
        <p class="price lead" id="total-amount"></p>
        <span class="price">€</span>
      </div>
    </div>
    <!--
    <div class="form-group">
      <label for="duration" class="col-sm-6 control-label"> Prélévé le : </label>
      <div class="col-sm-6">
        <input type="hidden" id="duration" class="form-control">
        <p class="price lead" id="refund_date"></p>
        <span class="price"></span>
      </div>
    </div>
    -->
  </div>
  <div class="call">
    <%= link_to new_credit_path, class: "navbar-wagon-item subscribe-button btn" do %>
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <%= t(".top_call_to_action", default: "Souscrire ce prêt") %>
    <% end %>
  </div>
</form>
