.box {
  border-radius: 8px;
  background: rgba(15, 59, 73, 0.6);
  padding: 2px;
}

.margin-clear {
  margin-top: 100px !important;
  margin-bottom: 120px !important;
}

.margin-side {
  margin: 12px 2px 2px 2px !important;
}
