
.peanutstep {
  padding: 30px 30px 35px 30px;
}


.banner-newloan {
  color: #33333;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
}


.banner-alt {
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  height: 100vh;

}
