.table-loan tbody tr td {
  vertical-align: middle;
}
.parent {
  padding: 0 !important;
}

.form-style-5 {
  max-width: 700px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.padded-left {
  padding-left: 25px;
}
